---
import BaseLayouts from "../layouts/BaseLayouts.astro"
import Greeting from "../components/Greeting"
---

<BaseLayouts pageTitle="Home">
  <h2>This is subheading of my blog site</h2>
  <Greeting client:load messages={["Hi","Hey","Namaste","Sasriakal Paji"]}/>
</BaseLayouts>
