---
import Social from "./Social.astro";

const platform = "github";
const username = "aquma106";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <Social platform="instagram" username="aquma_106" />
  <Social platform="linkedin" username="in/hemraj106" />
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
